{% extends "layout.html" %}
  
{% block title %}Awards{% endblock %}
{% block lead %}Awards and recognition for our iGEM project.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <h2>Awards & Recognition</h2>
    <hr />
    <p>This page showcases the awards and recognition our project has received.</p>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h3>Competition Awards</h3>
    <hr />
    <p>Awards information will be updated here...</p>
  </div>
</div>

{% endblock %}
