{% extends "layout.html" %}
  
{% block title %}Collaboration{% endblock %}
{% block lead %}Collaborative efforts and partnerships in our iGEM project.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <h2>Collaboration</h2>
    <hr />
    <p>This page documents our collaborative efforts and partnerships throughout the iGEM 2025 competition.</p>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h3>Partnerships</h3>
    <hr />
    <p>Details about our collaborations will be added here...</p>
  </div>
</div>

{% endblock %}
