{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}Revolutionizing biological research with BIOMNIGEM - the first true multimodal AI biologist.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>iGEM Medal Criterion</h4>
      <p>This page contributes to our project documentation and medal requirements.</p>
      <hr />
      <p>Visit the <a href="https://competition.igem.org/judging/medals">Medals page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">

<h3>The Story of a Test</h3>

<p>This is a <strong>test description</strong> with some <em>italic text</em> and <code>code snippets</code>.</p>

<ul>
  <li>First list item</li>
  <li>Second list item with <strong>bold text</strong></li>
  <li>Third item</li>
</ul>

<h3>Another Section</h3>

<p>More content here with different formatting.</p>

  </div>
</div>

{% endblock %}